<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>青少年心理测试系统</title>
</head>
<body>
	<h1>青少年心理测试系统</h1>
	
	<h2>请登录</h2>
	<a href="/sys/regist/"><h3>注册</h3></a>
	<form action="/sys/do_login/" method="post">
        {% csrf_token %}
		<label>用户名</label>
		<input type="text" name="user" placeholder="Please input your username" value={{ username }}>
		<label>密码</label>
		<input type="password" name="password" placeholder="Please input your password" value={{ password }}>
		<input type="submit" value="登录">
		<input type="reset"  value="重置">
	</form>
</body>
</html>