<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/static/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
    <script src="/static/crossbrowserjs/html5shiv.js"></script>
    <script src="/static/crossbrowserjs/respond.min.js"></script>
    <script src="/static/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/js/apps.js"></script>
<script src="/static/js/i18n.js"></script>
<script src="/static/js/master.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<!-- ================== BEGIN DataTables =================== -->
<script src="/static/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/static/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
<!-- ================== END DataTables =================== -->
<!-- ================== BEGIN validation form =================== -->
<script src="/static/plugins/parsley/dist/parsley.js"></script>
<!-- ================== END validation form =================== -->

<script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/public.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/common.js"></script>